body {
    background-color: #222222;
    justify-items: center;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    color: rgb(255, 225, 0);
    font-family: Arial, Helvetica, sans-serif;
}