@font-face {
    font-family: 'DS-Digital';
    src: url('assets/font/DS-Digital \ Bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DS-Digital';
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #212121d8, #000000da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0 ,0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.698);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 90px;
    color: rgb(128, 255, 0);
}

.relogio span.tempo {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    color: white;
}