@charset "UTF-8";

body {
    background-color: rgb(132, 255, 173);
    font-family: Arial, Helvetica, sans-serif;
       
}

header {
    background-image: linear-gradient(to bottom, #3cd781, #1a5c38);
    margin: auto;
    height: 139px;
}

.curiosidade {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.232);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0px;
    }

.subtitulo {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.232);
    font-weight: normal;
    font-size: 1em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

a:hover {
    text-decoration: solid;
    color: #0a2616;
}

main {
    background-color: white;
    margin: auto;
    width: 1000px;
    
}

main > iframe {
    background-color: #1a5c38;
    padding: 20px;
    
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

.historia {
    font-family: 'idroid';
    color: #1a5c38;
    margin: 20px 20px 20px 20px;
}

.paragrafo {
    margin: 16px 20px 16px 20px;
    text-align: justify;
    text-indent: 30px;
}

.link {
    color: #1a5c38;
}


.primeiraversao {
    font-family: 'idroid';
    color: #1a5c38;
    margin: 20px 20px 20px 20px;
    background-image: linear-gradient(to right, #aff1cd, #ffffff);
    padding: 5px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.imagebug {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.video {
    background-color: #1a5c38;
    display: block;
    margin: 20px;
    padding: 20px;
   
}

.video > iframe {
    width: 560px;
    margin:0 auto;
    display: block;
}

.aprendermais {
    color: #ffffff;
    background-color: #1baa6c;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 0%;
}

div {
    background-color: #aff1cd;
    margin: 20px 20px 20px 20px;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}

li::before {
    content: '✔  ';
}

ul {
    padding-left: 0px;
}

.lista01 {
    display: inline-block;
}

.paragrafoult {
    margin: 16px 20px 16px 20px;
    text-align: justify;
    text-indent: 30px;
    padding-bottom: 10px;
}

footer {
    background-color: #1a5c38;
    color: white;
    text-align: center;
    margin-bottom: 0px;
   }

footer > h5 {
    margin: 10px 0px 0px 10px;
    padding: 3px;
}